#delete_button {
  background-color: #AB5664;
  border-radius: 0.4em;
  border-style: none;
  color: whitesmoke;
  margin: 0 auto;
  margin-top: 1em;
  padding: 0.8em;
  width: 10em;
  font-size: 1em;
}

#delete_button:hover{
  background-color: #CA4A5F;
}
