nav {
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
  padding: 0.3em;
}
.link {
  border-radius: 0.4em;
  color: white;
  text-decoration: none;
  padding: 0.8em;
}

.link:hover {
  background-color: #3b71ca;
}
.link:enabled {
  background-color: #3b71ca;
}

#website_name {
  color: white;
  font-size: 1.5em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  text-decoration: none;
  padding: 0.8em;
}
