#name {
  font-size: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#surname {
  font-size: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.usercard {
  background-color: #262749;
  border-radius: 0.4em;
  margin: 1em;
  width: 30%;
}

.usercard:hover{
  background-color: #25266e;
}
